/*activar un assets de carpeta y poner lo archivos para esto*/

.active_background{
    background-image: url('assets.anime/background.webp')
}   
    
/*buton noche*/
.active2{
    background-image: url('../../../assets/botones/NOCHE6-.png');
}
    
/*buton noche movil*/
@media only screen and (max-width:700px){
       .active2{
           background-image: url('../../../assets/botones/NOCHE6-.png');
        }
}
    
    
/*modificacion del gif de pc que para siempre a la derecha*/
.contenedor2{
      background-image: url('assets.anime/frieren-beyon.webp');
}
    
/*modificacion del mismo gil pero en movil*/
 @media only screen and (max-width:950px){
      .contenedor2{
        background-image: url('assets.anime/fan-art-of-frieren-beyond.webp');
      }
}

.contenedor1__description-block2{
    align-items: start;
}

/*capitulos img*/
.ca1{
    display: none;
}
.ca2{
    display: none;
}

.ca3{
    display: none;
}
.ca4{
    display: none;
}
.ca5{
    display: none;
}
.ca6{
    display: none;
}
.ca7{
    display: none;
}
.ca8{
    display: none;
}
.ca9{
    display: none;
}
.ca10{
    display: none;
}
.ca11{
    display: none;
}
.ca12{
    display: none;
}
.ca13{
    display: none;
}
.ca14{
    display: none;
}
.ca15{
    display: none;
}
.ca16{
    display: none;
}
.ca17{
    display: none;
}
.ca18{
    display: none;
}
.ca19{
    display: none;
}
.ca20{
    display: none;
}
.ca21{
    display: none;
}
.ca22{
    display: none;
}
.ca23{
    display: none;
}
.ca24{
    display: none;
}
.ca25{
    display: none;
}
.ca26{
    display: none;
}
.ca27{
    display: none;
}
.ca28{
    display: none;
}
/*capitulos img*/

/*capitulos video iframe*/
.capi1{
    display: flex !important;
}
.capi2{
    display: flex !important;
}

.capi3{
    display: flex !important;
}
.capi4{
    display: flex !important;
}
.capi5{
    display: flex !important;
}
.capi6{
    display: flex !important;
}
.capi7{
    display: flex !important;
}
.capi8{
    display: flex !important;
}
.capi9{
    display: flex !important;
}
.capi10{
    display: flex !important;
}
.capi11{
    display: flex !important;
}
.capi12{
    display: flex !important;
}
.capi13{
    display: flex !important;
}
.capi14{
    display: flex !important;
}
.capi15{
    display: flex !important;
}
.capi16{
    display: flex !important;
}
.capi17{
    display: flex !important;
}
.capi18{
    display: flex !important;
}
.capi19{
    display: flex !important;
}
.capi20{
    display: flex !important;
}
.capi21{
    display: flex !important;
}
.capi22{
    display: flex !important;
}
.capi23{
    display: flex !important;
}
.capi24{
    display: flex !important;
}
.capi25{
    display: flex !important;
}
.capi26{
    display: flex !important;
}
.capi27{
    display: flex !important;
}
.capi28{
    display: flex !important;
}
/*capitulos video iframe*/