* {
    margin: 0;
    padding: 0;
    

}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Kanit:ital,wght@0,100;0,200;1,300&family=Lobster&family=Martian+Mono:wght@800&family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
body{
overflow-y: scroll;
overflow-x: hidden;
background-color: #000;/*remove*/
/*background-image: url('assets.anime/fondoanime.gif'); *//*remove*/
width: 100vw;
background-size: cover;/*remove*/
background-attachment: fixed; /*remove*/
transition: all 1.2s;
display: flex;
flex-direction: column;
min-height: 100vh;
}

.active_background{
    overflow-y: scroll;
overflow-x: hidden;
background-color: #000;/*remove*/
background-image: url('assets.anime/tatenoyusha.webp'); /*remove*/
width: 100vw;
background-size: cover;/*remove*/
background-attachment: fixed; /*remove*/
transition: all 1.2s;
background-position: center center; 
min-height: 100vh;
}



body::-webkit-scrollbar {
width: 0; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
background-color: transparent; /* Fondo transparente para la barra de desplazamiento */
border: none; /* Sin borde */
}


.headers {
    background: transparent;
    display: flex;
    height: 5em;
    width: 100vw;
    align-items: center;
}

header{
    background: #000;
}
.header2{
   display: none;
}

.header__nav {
    display: flex;
    width: 99%;
    background: transparent;
    justify-content: space-between;
}
.header__nav-ul {
    display: flex;
    background: transparent;
    align-items: center;
    gap: 2.5em;
    margin-right: 1em;
    
}

img.logo-anime {
    width: 10em;
    height: auto;
    display: inline-block;
    background: transparent;
    margin-right: auto;
}

.header__nav-li{
    list-style: none;
    background: transparent;
}

.header__nav-li a{
    background: transparent;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    font-family: 'Martian Mono', monospace;
    outline: 2px solid #000;
    outline-offset: 5px;
    border-radius: 2px;
    animation: giraBorde 5s linear infinite;
   
}


@keyframes giraBorde {
    0% {
        outline-color: #000;
    }
    20% {
        outline-color: #aaa;
    }
    40%{
        outline-color: #000;
    }
    60%{
        outline-color: #aaa;
    }
    80%{
        outline-color: #000;
    }
    100%{
        outline-color: #aaa;
    }
}

.header__nav-li a:hover{
    color: #ccc;
}

.header__nav-li a i{
    margin-right: 0.3em;
    margin-left: 0.3em;
}


/*zonanime*/
.contenedor-anime{
    display: flex;
    width: 100vw;
    height: 4em;
    align-items: center;
    justify-content: center;
    background: transparent;/*contenedorfondo titulo*/
    margin-top: 2em;
}

.contenedor-anime-h2{
    background: transparent;
}
.contenedor-anime-h2 a {
    text-decoration: none;
    color: #fff;
    font-family: monospace;
}

.contenedor-anime-h2 a img{
    height: 2.5em;
    width: 100%;
}

/**********/

.crearcomunity-barras{
    width: 100%;
}


.main{
    display: grid;
    width: 100%;
    grid-template-columns: 0.8fr 0.2fr;
    background: linear-gradient(to bottom, transparent,black, #111,transparent, transparent);
    align-items: start;
}


/*modificacion activa del main con el click de imagen osea le doy el fondo semi transparente y ademas tambien aplico 100%*/
.active_principal{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(to top, rgba(1, 1, 1, 0.0), rgba(1, 1, 1, 0.8),rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.0));
    transition: all 1.5s;
}
/*modificacion activa del main con el click de imagen osea le doy el fondo semi transparente y ademas tambien aplico 100%*/




@media only screen and (min-width:950px) and (max-width:1440px){
    .main{
       margin-bottom: 1em;
    }
}


main{
    display: flex;
    flex-direction: column;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background: transparent;
    overflow:hidden ;
   /* background: linear-gradient(to bottom, transparent,black, #111,transparent, transparent);*/
}

.contenedor2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background: transparent;
    overflow: hidden;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    border-radius: 10px;
}

/*activo para desaparecer la imagen lateral*/
.active_lateral{ 
    display: none !important;
}
/*activo para desaparecer la imagen lateral*/



/*modificando tamaño para el contenedor imagen lateral*/
 @media only screen  and (min-width:1060px) and  (max-width:1300px){
    .contenedor2{
        min-height: 480px!important;
    }
 }   
 @media only screen and (min-width:950px) and (max-width:1060px){
    .contenedor2{
        min-height: 510px!important;
    }
 }  
/*modificando tamaño para el contenedor imagen lateral*/









.contenedor1__description{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.contenedor1__description-section{
    margin-top: 0.5em;
    display: grid;
    width: 100%;
    grid-template-columns: 0.8fr 0.2fr;
}
h1{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #ddd;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.modi_title-anime{
    color: #fff;
}

#miCheckbox{ /*borrar es el input del boton*/
    width: auto;
    height: 40px;
    transform: rotate(180deg);
}

.img2{ /*borrar es el input del boton*/
    width: auto;
    height: 40px;
    display: none;
}

.active1{
    display: none!important;
}

.active2{
    display: flex !important;
    width: 85%;
    height: 40px;
    background-image: url('assets.anime/bton.png'); /*remove*/
    background-size: cover;
    background-position: center center; 
}
.buton_night{
    display: flex;
    width: 50px;
    height: 40px;
    
}

@media only screen and (max-width:700px){
    h1{
        flex-direction: column;
    }
    .active2{
        background-image: url('assets.anime/buton2.png');
    }
}


.contenedor1__description-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 100;
    line-height: 1.6;
}

.contenedor1__description-p2{ /*segunda activacion 950px*/
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 100;
    line-height: 1.6;
}
.contenedor1__description-block1{
    display: flex;
    flex-direction: column;
 /*   align-items: center;bloque del parrafo quitar en caso incomodo con la estructura*/
}

.contenedor1__description-datos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em 0;
    background: transparent;
    font-size: 1em;
    line-height: 1.3;

}
.contenedor1__datos span.autors{
   color: #c0c;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2em;
   font-weight: 600;
}

.contenedor1__datos span.number{
    color: #ede;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
 }

.contenedor1__description-block2{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: end;
}

.redes{
    display: grid;
    border-radius: 50%;
    background: transparent;
    height: 3em;
    width: 3em;
    align-items: center;
    justify-items: center;
    border: 2px solid #111;
    overflow: hidden;
    margin-bottom: 0.25em;
    transition: all 500ms;
}
.redes:hover{
    transform: scale(1.35);
}

.redes a {
    display: grid;
    align-items: center;
    text-decoration: none;
}
.instagram{
    width: 2em;
    height: 2em;
}


.contenedor-instagram{
    background: linear-gradient(135deg, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FFDC80);
}

.twitter{
    width: 3em;
    height: 3em;
}
.contenedor-twitter{
    background: #000;
    margin-right: 0em;
    border: 2px solid #666;
    animation: borders 5s linear infinite; 
}

@keyframes borders {
    0%{
        border-color: #111 ;
    }
    25%{
        border-color: #666;
    }
    50%{
        border-color: #111;
    }
    75%{
        border-color: #666;
    }
    100%{
        border-color:#111 ;
    }

}

.contenedor1__description-facebook{
    border: none;
}
.contenedor-facebook{
    background: linear-gradient(to bottom, #1877F2, #0B5FCC);
}


/*episodes*/
.contenedor1__episodes-text{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.imagen{
    width: 2em;
    height: auto;
    transform: rotate(-90deg);
    transition: all 500ms;
}

.active_flechas{
    transform: rotate(0deg);
    transition: all 500ms;
}

.contenedor1__episodes-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C13584;
    outline: 2px solid #C13584 !important;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    color: #ccc;
    border: none !important;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: colores s linear infinite;
    
}
.contenedor1__episodes-h2:hover{
    background: #c0c;
    color: #fdf;
    outline: 2px solid #c0c !important;
}




.contenedor1__episodes-ul{
    display: none;
}
.active_capitulos{
    display: grid;
    grid-template-columns: 80px 80px  80px 80px ;
    justify-content: space-evenly; 
    list-style: none;
    gap: 1em;
    
}
.contenedor1__episodes{
    width: 80%;
}

/*.contenedor1__episodes equivalente hace que sea el 100% activado*/

.active_episodes{
    width: 100%  !important;
}
/*.contenedor1__episodes equivalente hace que sea el 100% activado*/



.contenedor1__episodes-li{
    outline: 2px solid #C13584;
    background: #C13584;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.contenedor1__episodes-li:hover{
      background: linear-gradient(to bottom, #FF4500, #FF6347);
}

.hoverlist{
    background: linear-gradient(to bottom, #FF4500, #FF6347) !important;
}

.contenedor2{/*fondoprincipalpara aside*/
    width: 100%;
    max-height: 580px;
    background-image: url('assets.anime/tatenoyusha.gif');
    background-size: cover;/*remove*/
    display: flex;
    background-position: center center; 
    min-height: 410px;
}

@media only screen and (min-width:2387px){
    .contenedor2{
        height: 300px;
    }
}


@media only screen and (min-width:2030px) and (max-width:2387px){
    .contenedor2{
        height: 340px;
    }
}


@media only screen and (min-width:1765px) and (max-width:2057px){
    .contenedor2{
        height: 380px;
    }
}

@media only screen and (min-width:1541px) and (max-width:1764px){
    .contenedor2{
        height: 410px;
    }
}

.contenedor1__reproductor{
    width: 100%;
    display: none;
    flex-direction: column;
    margin-top: 1em;
    padding: 0 0 0 10px;
    margin-bottom: 4em;
    
}

.contenedor1__reproductor-episodes{
    width: 65%;
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
    background-color: #000;
    animation: border 4s linear infinite;
}

@keyframes border{
    0%{
        border-color: #833AB4;
    }
    25%{
        border-color: #f0f;
    }
    50%{
        border-color: #a0a;
    }
    75%{
        border-color: #808;
    }
    100%{
        border-color:#633ab4 ;
    }

}

.cartelera{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor1__reproductor-episodes iframe{
    display: none;
}

.ca1{
    display: none;
}

.capi1{
    display: flex !important;
}

.repro_capitulos{
    flex-direction: row;
}

.contenedor1__reproductor-redesociales{
    display: flex;
    width: 33.5%;
    background: transparent;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.contenedor1__reproductor-fechas{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
    background: transparent;
    padding: 5px;
    outline: 2px solid #fff;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    animation: fechas 6s linear infinite;
}

@keyframes fechas {
    0%{
        outline: 2px solid #000;
        color: #ddd;
    }
    20%{
        outline: 2px solid #aaa;
        color: #ddd;
    }
    40%{
        outline: 2px solid #000;
        color: #ddd;
    }
    60%{
        outline: 2px solid #aaa;
        color: #ddd;
    }
    80%{
        outline: 2px solid #000;
        color: #ddd;
    }
    100%{
        outline: 2px solid #aaa;
        color:#ddd;
    }

}
.footer{
    font-size: 0.9em;
}

.footer__creditos{
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:1020px){
    .contenedor1__reproductor-fechas{
        font-size: 16px;
    }
}



@media only screen and (min-width:841px){
    .footer{
        height: 3em; /* Altura de 6em */
        width: 100%; /* Ancho del 100% */
        bottom: 0; /* Coloca el footer en la parte inferior de la ventana */
        background-color: #000; /* Cambia el color de fondo según tus preferencias */
        color: #fff; /* Cambia el color de texto según tus preferencias */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
    }

}

@media only screen and (max-width:950px){
    .active_footer{
        position: static !important;
        
    }

    .footer{
        text-align: center;
    }
    .contenedor1__reproductor {
        margin-bottom: 0.5em;
        padding: 0;
    }

}
@media only screen and (max-width:840px){
    .contenedor1__reproductor{
        margin-bottom: 0!important;
    }
}

@media only screen and (min-width:950px){

.repro_capitulos{
    display: flex;
    margin-bottom: 2em;
    padding: 5px;
    background: linear-gradient(to bottom, transparent,black, #111, transparent);
    justify-content: center;
}
}
@media only screen and (min-width:1800px){
    .contenedor1__reproductor-episodes{
        width: 40%;
    }
    .contenedor1__episodes{
        width: 90vw;
    }
    .contenedor2{
        width: 90%;
    }
}

@media only screen and (min-width:2400px){
    .contenedor2{
        width: 80%;
    }
}

@media only screen and (max-width:400px){
    footer{
        font-size: 0.7em;
        height: 2.5em;
    }
}


@media only screen and (max-width:1280px){
    .active_capitulos{
        display: grid;
        grid-template-columns: 80px 80px  80px 80px ;
        justify-content: space-evenly; 
        list-style: none;
        
    }


    .contenedor1__episodes-li{
      outline: 2px solid #C13584;
      background: #C13584;
      font-size: 1.2em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: #fff;
    }
    .contenedor1__episodes-li:hover{
        background: linear-gradient(to bottom, #FF4500, #FF6347);
    }

    .contenedor1__episodes{
        width: 80%;
    }
}

@media only screen and (max-width:950px) {

    /*cabecera*/
    .headers{
        display: none;
    }

    .header2{
        background: transparent;
        display: flex;
        height: 5em;
        width: 100vw;
    }
    img.logo-anime {
        width: 10em;
        height: auto;
        display: inline-block;
        background: transparent;
        margin-right: auto;
    }
    .header__nav-ul2{
        display: none;
    }
    .button{
        background-color: transparent;
        display: flex;
    }
    .button i{
        background-color: transparent;
        color: #ccc;
    }
    .header__nav2{
        display: flex;
        width: 100%;
    }
    .header__nav2 a {
        margin-right: auto;
    }
    .header2 a{
        display: flex;
        align-items: center;
    }
    .button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 2em;
    }

    .button i{
        font-size: 1.6em;
    }

    .menuamborguesa{
        display: flex;
        flex-direction: column;
        background: #111;
        list-style: none;
        margin-top: 2.4em;
        width: 8em;

    }
    .header__nav-li2{
        padding: 10px;
        background: #333;/*fondodel menu de amborguesa*/
        position: relative;
        z-index: 10;
    }

    .header__nav-li2 a{
        text-decoration: none;
        color: #ccc;
        font-size: 0.8em;
    }
    .header__nav-li2 a:hover{
        color:#999
    }
    .header__nav-li2 a i {
        margin-right: 0.3em;
    }
    .da{
        border-radius: 5px  0px 0 0;
    }
    .sa{
        border-radius:  0 0 5px  5px;
    }

    /*cabecera*/╝


    main{
        display: flex;
        flex-direction: column;
    }

    .main{
        display: flex;
        flex-direction: column;
    }
    


    .contenedor1__episodes{
        width: 100%;
    }
    .contenedor1__episodes-ul{
        width: 100vw;
    } 

    .contenedor2{/*fondoprincipalpara aside*/
        width: 100%;
        background-image: url('assets.anime/tatenoyusha.webp');
        background-size: cover;/*remove*/
        display: flex;
        background-position: center center; 
        min-height: 0;
        height: 14em !important;
        clip-path: none;
        border: none;
      }
    .block_lateral{
        display: none;
    } 

    footer{
        height: 2.5em; /* Altura de 6em */
        width: 100%; /* Ancho del 100% *//* Establece una posición fija */
        bottom: 0; /* Coloca el footer en la parte inferior de la ventana */
        background-color: #000; /* Cambia el color de fondo según tus preferencias */
        color: #fff; /* Cambia el color de texto según tus preferencias */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        margin-top: auto;
    }
    
    .repro_capitulos{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .contenedor1__reproductor-redesociales{
      display: none;
    }

    .contenedor1__reproductor-episodes{
        width: 90%;
    }

    .contenedor1__description-p2{
        display: flex;
    }
    .contenedor1__description-p{
        display: none;
    }
        
}

@media only screen and (max-width:750px) {

    .contenedor1__description-section{
        display: flex;
        flex-direction: column;
    }

    .contenedor1__description-block2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5em 0;
        gap: 0.5em;

    }

    .redes{
        display: grid;
        border-radius: 50%;
        height: 3em;
        width: 3em;
        align-items: center;
        justify-items: center;
        overflow: hidden;

        }

    .contenedor-twitter {
            margin-right: 0;
    }    
    .active_capitulos{
            display: grid;
            grid-template-columns: 70px 70px  70px ;
            justify-content: space-evenly; 
            list-style: none;
            
    }
    .contenedor1__episodes{
        width: 100%;
    }
    .contenedor1__reproductor  {
        align-items: center;
    }

    .contenedor1__reproductor-episodes{
        width: 95%;
        margin-left: 0;
    }  
    
    .repro_capitulos{
    display: flex;
    justify-content: center;
    padding: 5px;
     }

    .contenedor1__reproductor-redesociales{
     display: none;
     }
     h1{
        text-align: center;
     }

}

@media only screen and (min-width:950px){
    .contenedor1__episodes{
        margin-top: 3em;
    }
}

@media only screen and (max-width:500px){
    .contenedor2{/*fondoprincipalpara aside*/
        width: 100%;
        height: 10em !important;
      }
}