/*activar un assets de carpeta y poner lo archivos para esto*/

.active_background{
    background-image: url('assets.anime/fondodelviaje.jpg')
}   
    
/*buton noche*/
.active2{
    background-image: url('../../../assets/botones/NOCHE6-.png');
}
    
/*buton noche movil*/
@media only screen and (max-width:700px){
       .active2{
           background-image: url('../../../assets/botones/NOCHE6-.png');
        }
}
    
    
/*modificacion del gif de pc que para siempre a la derecha*/
.contenedor2{
      background-image: url('assets.anime/contenedor2.gif');
}
    
/*modificacion del mismo gil pero en movil*/
 @media only screen and (max-width:950px){
      .contenedor2{
        background-image: url('assets.anime/contenedor2-movil\ 2.gif');
      }
}

/*capitulos img*/
.ca1{
    display: none;
}

/*capitulos img*/

/*capitulos video iframe*/
.capi1{
    display: flex !important;
}

/*capitulos video iframe*/


.active_capitulos{
    display: flex;
}

.contenedor1__episodes-ul{
    width: auto;
}